<div id="icTable" class="bs-docs-section">
  <h1 class="page-header"><a href="#icTable" style="text-decoration: none;">#</a> Table</h1>
  <h2 id="icTableExamples"><a href="#icTableExamples" style="text-decoration: none;">#</a> Examples</h2>
  <p>Description: It goes here.</p>
  <ic-table config="$ctrl.icTable.config" source="{rows: $ctrl.icTable.source}" title="Innovic Table"></ic-table>
</div>
<div id="icPanel">
  <h1 class="page-header"><a href="#icPanel" style="text-decoration: none;">#</a> Panel</h1>
  <ic-panel>
    <ic-body></ic-body>
  </ic-panel>
</div>
<div id="icPageHeader">
  <h1 class="page-header"><a href="#icPageHeader" style="text-decoration: none;">#</a> Page Header</h1>
</div>